<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reBot_B601_DM_spray_demo">
  <xacro:arg name="initial_positions_file" default="$(find rebotarm_moveit_config)/config/initial_positions.yaml"/>

  <xacro:include filename="$(find rebotarm_bringup)/description/urdf/reBot_B601_DM_with_gripper.urdf"/>
  <xacro:include filename="$(find rebotarm_moveit_config)/config/rebotarm.ros2_control.xacro"/>

  <link name="gripper_tcp"/>
  <joint name="gripper_tcp_joint" type="fixed">
    <origin xyz="-0.0443 0 0" rpy="0 0 0"/>
    <parent link="gripper_link"/>
    <child link="gripper_tcp"/>
  </joint>

  <link name="spray_nozzle_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.025"/>
      <inertia ixx="0.000006" ixy="0.0" ixz="0.0" iyy="0.000006" iyz="0.0" izz="0.000002"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.12"/>
      </geometry>
      <material name="spray_nozzle_blue">
        <color rgba="0.05 0.35 0.95 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.57079632679 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.12"/>
      </geometry>
    </collision>
  </link>

  <joint name="gripper_tcp_to_spray_nozzle_joint" type="fixed">
    <origin xyz="0.06 0 0" rpy="0 0 0"/>
    <parent link="gripper_tcp"/>
    <child link="spray_nozzle_link"/>
  </joint>

  <link name="spray_tip_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="spray_tip_cyan">
        <color rgba="0.0 0.9 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.008"/>
      </geometry>
    </collision>
  </link>

  <joint name="spray_nozzle_to_tip_joint" type="fixed">
    <origin xyz="0.06 0 0" rpy="0 0 0"/>
    <parent link="spray_nozzle_link"/>
    <child link="spray_tip_link"/>
  </joint>

  <xacro:rebotarm_ros2_control name="RebotArmSprayMockSystem" initial_positions_file="$(arg initial_positions_file)"/>
</robot>
